---
layout: archive
title: "Projects"
permalink: /projects/
author_profile: true
---

2026 – DigiScribe
---
- Developed DigiScribe, an intelligent multimodal agentic AI web-based system that:
- Extracts handwritten/printed text from images
- Converts it to machine-readable digital text
- Transforms content into structured study materials and audio tools

2025 – Deepfake Detection (CNN)
---
- Designed and trained a Convolutional Neural Network (CNN) for deepfake detection
- Performed dataset preprocessing, model training, and accuracy evaluation
- Achieved higher accuracies after creating a custom model compared to using tranfer learning (VGG16, ResNet)

2024 – Sleep Prediction Model
---
- Inputted user data is used to predict future hours slept
- Built a Python-based regression model using numpy
- Applied and evaluated both linear and polynomial regressions to estimate sleep duration from screen usage


{% include base_path %}


{% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %}

